@charset "UTF-8";

@media screen and (min-width: 768px) {

    span#burguer {
        display: none;
    }

    menu {
        display: block;
        
    }
    
    menu > ul > li {
        display: inline-block
    }

    header {
        background-image: url(../filmegrande.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        width: 900px;
        height: 200px;
        display: block;
        margin: auto;
    }

    article {
        display: block;
        float: left;
        width: 600px;
        background-color: rgba(255, 255, 255, 0.712);
        margin-left: 80px;
    }
}